body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-image: url("/../images/background.jpg");
  background-position: unset;
  background-size: cover;
  font-size: 25px;
}
h3 {
  margin-block: 0.3%;
  font-family: cursive;
  color: white;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

#title {
  margin-block: 0.2%;
  font-family: cursive;
  color: gold;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

/*line below title*/
hr {
  width: 400px;
}

#grid {
  width: 340px;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 1px;
  align-tracks: center;
}

/* squares */
.square {
  border: 2px solid lightblue;
  width: 70px;
  height: 70px;
  margin: 3px;
  border-color: black;

  /* text inside square */
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
}

.correct {
  background-color: rgb(20, 120, 20);
  color: white;
  border-color: white;
}

.present {
  background-color: rgb(224, 224, 38);
  color: black;
  border-color: white;
}

.incorrect {
  background-color: rgb(167, 67, 67);
  color: white;
  border-color: white;
}

/*line below grid*/
.hr2 {
  margin-top: 5%;
  width: 400px;
}

/*answer, winner, loser messages*/
h2 {
  margin-top: 1px;
  font-family: cursive;
  color: white;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
